BITRIX_WEBHOOK_URL=https://sinedis.bitrix24.pl/rest/1/**********
SMTP_HOST=serwer2377156.home.pl
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=europolis@greencard.agency
SMTP_PASS=**********
SMTP_FROM="Green Card Agency <europolis@greencard.agency>"
DEAL_REPORT_EMAIL_TO=europolis@greencard.agency
